.home {
  background-image: url('../../livros.png');
  background-repeat: no-repeat;
  background-size: cover;
}

h3{
  color: blue;
  text-align: center;
  font-weight: bold;
  font-family:serif;
}

p{
  color: blue;
  text-align: center;
  font-weight: bold;
  font-size: 14pt;
  font-family: serif;
}

.autora{
  text-align: right;
}
